<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825389689824-0donc40unu790c6fm6c8ikgu3tjfv2j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825389689824-0donc40unu790c6fm6c8ikgu3tjfv2j5</string>
	<key>API_KEY</key>
	<string>AIzaSyDzqn3MZ0OZApT8jIwgHbDxTm4UB-zzy8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>825389689824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiGlassV2</string>
	<key>PROJECT_ID</key>
	<string>aiglass-a3378</string>
	<key>STORAGE_BUCKET</key>
	<string>aiglass-a3378.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825389689824:ios:751f7313ad0a02a95c1985</string>
</dict>
</plist>